body {
  margin: 0;
  font-family: 'Raleway';
  background-image: url(../images/pyramid.png);
  background-attachment: fixed; }

header {
  background-image: url(../images/stageBkg.png);
  width: 100%;
  position: relative;
  text-align: center;
  height: 430px;
  box-shadow: 0 5px 6px -6px grey; }
  header #menu {
    position: relative; }
    header #menu img {
      position: absolute;
      top: -37px;
      right: 100px; }
    header #menu a {
      text-decoration: none;
      color: white;
      font-weight: 200;
      font-size: 20px;
      position: absolute;
      top: 30px;
      right: 30px; }
    header #menu a:hover {
      text-decoration: underline; }
  header .topNav {
    position: absolute;
    top: -220px;
    right: 140px;
    width: 200px;
    float: right;
    transition: all 1s ease;
    background-color: #7f7f7f; }
    header .topNav ul {
      margin: 0;
      list-style-type: none;
      padding: 0; }
    header .topNav li {
      text-align: center;
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid #e4e4e4; }
    header .topNav a {
      text-decoration: none;
      color: white;
      font-weight: 200;
      font-size: 20px; }
    header .topNav a:hover {
      text-decoration: underline; }
  header img {
    padding-top: 60px;
    width: 300px; }

header .topNav2 {
  position: absolute;
  top: 0;
  transform: translateY(0px);
  transition: all 1s ease;
  top: 0px; }

.container {
  width: 980px;
  margin: auto;
  position: relative;
  padding-top: 20px; }

.Blog {
  width: 68%;
  float: left; }
  .Blog h2 {
    font-size: 45px;
    color: black;
    letter-spacing: -1px;
    margin-bottom: 15px; }
  .Blog h3 {
    font-size: 35px;
    color: #4298b5;
    margin: 10px; }
  .Blog section {
    margin-top: 16px;
    margin-right: 15px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
    border: 1px solid #e4e4e4;
    line-height: 24px;
    box-shadow: 0 5px 6px -6px grey;
    color: #7f7f7f; }
  .Blog a {
    text-decoration: none;
    color: #4298b5; }
  .Blog a:hover {
    text-decoration: underline; }

aside {
  margin-top: 16px;
  width: 27%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border: 1px solid #e4e4e4;
  line-height: 24px;
  box-shadow: 0 5px 6px -6px grey;
  color: #7f7f7f; }
  aside .dateTag {
    color: white;
    text-align: center;
    padding: 6px;
    background-color: grey; }
  aside h2 {
    font-size: 45px;
    line-height: 55px;
    color: black; }
  aside h3 {
    font-weight: bold;
    color: #4298b5;
    margin: 0;
    padding-top: 10px; }
  aside ul {
    list-style-type: none;
    padding-bottom: 20px;
    padding-left: 18px;
    margin: 0;
    border-bottom: 1px solid #e4e4e4; }
  aside li {
    font-weight: 200; }

.eventsCal {
  width: 980px;
  margin: auto; }
  .eventsCal .leftSide {
    padding-left: 30px;
    padding-top: 30px;
    width: 55%;
    float: left;
    background-color: white;
    color: #7f7f7f; }

.navBar a {
  color: #7f7f7f;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none; }
.navBar .activeLink {
  border-top: 1px solid #4298b5;
  border-left: 1px solid #4298b5;
  border-right: 1px solid #4298b5;
  border-bottom: none;
  margin-bottom: -1px;
  background-color: #4298b5; }
  .navBar .activeLink a {
    color: white; }
.navBar ul {
  list-style-type: none;
  padding: 0; }
.navBar li {
  display: inline-block;
  padding: 12px;
  margin-right: -5px;
  border-bottom: 1px solid #4298b5; }

.eventDisplay .event_container {
  margin-bottom: 25px; }
.eventDisplay h3 {
  margin: 2px; }
.eventDisplay ul {
  margin: 0;
  list-style-type: none;
  padding: 0; }
.eventDisplay a {
  margin: 5px;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  font-size: 10px; }
.eventDisplay .animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s; }
.eventDisplay .border {
  background-color: #4298b5;
  border-bottom: 5px solid #26596b;
  margin: 0px; }
.eventDisplay .action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
  margin-left: 0px; }

.cal_wrapper {
  background-color: white;
  position: absolute;
  top: 20px;
  right: -66px;
  width: 47%; }

.calendar {
  background-color: white; }
  .calendar table {
    width: 100%; }
  .calendar tr {
    color: grey; }
  .calendar tr:hover {
    color: black;
    cursor: default; }
  .calendar td, .calendar th {
    width: 10%; }
  .calendar td:hover, .calendar th:hover {
    background-color: #4298b5; }
  .calendar td:hover {
    color: black; }
  .calendar .days td, .calendar .days th {
    padding-bottom: 50px;
    font-size: 13px; }

.calendar.fixed {
  position: fixed;
  top: 0;
  margin-right: 10px; }

.main, .eventsCal, .getStaged {
  display: none; }

.currentTab {
  display: block; }

.eventDisplay .alltab, .eventDisplay .charlestonTab, .eventDisplay .mountPTab, .eventDisplay .nCharlesTab {
  display: none; }

.eventDisplay .activeTab {
  display: block; }

footer {
  position: relative;
  display: block;
  clear: both;
  text-align: center; }
  footer ul {
    padding-top: 50px; }
  footer li {
    display: inline-block;
    padding-right: 50px;
    padding-left: 50px; }
    footer li a {
      text-decoration: none;
      color: black;
      transition: all 1s ease; }
      footer li a img {
        height: 60px;
        width: 60px; }
    footer li a:hover {
      color: white; }
