body {
  margin: 0;
}

header{
  margin: 0px;
  background-image: url(../images/RangeStage.jpg);

  #main_nav {
    margin: 0px;
    padding-top: 50px;
    text-align: center;

    li {
      display: inline-block;
      padding-right: 30px;

      a {
        text-decoration: none;
        color: black;
        transition: all 1s ease;
      }

      a:hover {
        color: white;
      }

  }
}


  h1{
    background-color: rgba(255,255,255,0.2);
  }

}
