$greyText:#7f7f7f;
$blueText:#4298b5;
$borderColor:rgb(228, 228, 228);


body{
  margin:0;
  font-family: 'Raleway';
  background-image: url(../images/pyramid.png);
  background-attachment: fixed;
}
header{
  background-image: url(../images/stageBkg.png);
  width: 100%;
  position: relative;
  text-align: center;
  height: 430px;
  box-shadow: 0 5px 6px -6px grey;
  #menu{
    position: relative;
    img{
      position: absolute;
      top: -37px;
      right: 100px;
    }
    a{
      text-decoration: none;
      color: white;
      font-weight: 200;
      font-size: 20px;
      position: absolute;
      top: 30px;
      right: 30px;
    }
    a:hover{
      text-decoration: underline;
    }
  }

  .topNav{
    position: absolute;
    top: -220px;
    right: 140px;
    width: 200px;
    float: right;
    transition: all 1s ease;
    background-color: $greyText;

    ul{
      margin: 0;
      list-style-type: none;
      padding: 0;
    }
    li{
      text-align: center;
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid $borderColor;
    }
    a{
      text-decoration: none;
      color: white;
      font-weight: 200;
      font-size: 20px;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  img{
    padding-top: 60px;
    width: 300px;
  }
}
header{
  .topNav2{
    position: absolute;
    top:0;
    transform: translateY(0px);
    transition: all 1s ease;
    top: 0px;
  }
}
.container{
  width: 980px;
  margin: auto;
  position: relative;
  padding-top: 20px;
}

.Blog{
  width: 68%;
  float: left;
  h2{
    font-size: 45px;
    color: black;
    letter-spacing: -1px;
    margin-bottom: 15px;
  }
  h3{
    font-size: 35px;
    color: #4298b5;
    margin: 10px;
  }
  section{
    margin-top: 16px;
    margin-right: 15px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
    border: 1px solid $borderColor;
    line-height: 24px;
    box-shadow: 0 5px 6px -6px grey;
    color: $greyText;
  }
  a{
    text-decoration: none;
    color: $blueText;
  }
  a:hover{
    text-decoration: underline;
  }
}

aside{
  margin-top: 16px;
  width: 27%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border: 1px solid $borderColor;
  line-height: 24px;
  box-shadow: 0 5px 6px -6px grey;
  color: $greyText;
  .dateTag{
    color: white;
    text-align: center;
    padding: 6px;
    background-color: grey;
  }
  h2{
    font-size: 45px;
    line-height: 55px;
    color: black;
  }
  h3{
    font-weight: bold;
    color: $blueText;
    margin: 0;
    padding-top: 10px;
  }
  ul{
    list-style-type: none;
    padding-bottom: 20px;
    padding-left: 18px;
    margin: 0;
    border-bottom: 1px solid $borderColor;
  }
  li{
    font-weight: 200;
  }

}


.eventsCal{
  width: 980px;
  margin: auto;

  .leftSide{
    padding-left: 30px;
    padding-top: 30px;
    width: 55%;
    float: left;
    background-color: white;
    color: $greyText;
  }
}
.navBar {
  a{
    color:$greyText;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
  }
  .activeLink{
    border-top: 1px solid $blueText;
    border-left: 1px solid $blueText;
    border-right: 1px solid $blueText;
    border-bottom: none;
    margin-bottom: -1px;
    background-color: $blueText;
    a{
      color: white;
    }
  }
  ul{
    list-style-type: none;
    padding:0;
  }
  li{
    display: inline-block;
    padding: 12px;
    margin-right: -5px;
    border-bottom: 1px solid $blueText;
  }
}

.eventDisplay {
  .event_container {
    margin-bottom: 25px;
  }

  h3 {
    margin: 2px;
  }


  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
  }

  a {
    margin: 5px;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    font-size: 10px;
  }

  .animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
  }
  .border {
    background-color: $blueText;
    border-bottom: 5px solid #26596b;
    margin: 0px;
  }
  .action-button:active {
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
  margin-left: 0px;
}

}


.calendar {

  table {
    background-color: white;
    width: 42%;
    position: absolute;
    top: 19px;
    right: -15px;
  }

  tr {
    color: grey;
  }

  tr:hover {
    color: black;
    cursor: default;
  }

  td, th {
    width: 10%;
  }

  td:hover, th:hover {
    background-color: #4298b5;
  }

  td:hover {
    color: black;
  }

  .days td, .days th {
    padding-bottom: 50px;
    font-size: 13px;
  }
}

.fixed {
  width: 42%;
  position: fixed;
}

/////////////////////////////
/////////////////////////////
/////////////////////////////
.main, .eventsCal, .getStaged{
  display: none;
}

.currentTab{
  display: block;
}

.eventDisplay {
  .alltab, .charlestonTab, .mountPTab, .nCharlesTab{
   display: none;
  }
}

.eventDisplay{
  .activeTab{
   display:block;
  }
}
/////////////////////////////
/////////////////////////////
/////////////////////////////
footer{
  position: relative;
  display: block;
  clear: both;
  text-align: center;
  ul{
    padding-top: 50px;
  }
  li {
    display: inline-block;
    padding-right: 50px;
    padding-left: 50px;

    a {
      text-decoration: none;
      color: black;
      transition: all 1s ease;

      img{
       height:60px;
       width:60px;
      }
    }

    a:hover {
      color: white;
    }
  }
}
