<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Events</title>
<!-- template for displaying by date -->
  <script type="template/html" id="eventDateTmpl">
   <% _.each(event_data, function (element,index,list){ %>
       <ul>
        <li> <%= element.datetime %> </li>
        <li><h3> <%= element.artists.name %> </h3></li>
        <li> <%= element.venue.city %> , <%= element.venue.region %> </li>
        <li> <%= element.venue.name %> </li>
        <li> <%= element.venue.url %> </li>
       </ul>

   <% }); %>

  </script>
  <!-- template for displaying by location. will have to write some sort of if statement to have the location selected match location in our data. then only display information with that location. -->
  <!-- if "user picked location" matches "data location" then run loop to display info? -->
  <script type="template/html" id="eventLocationTmpl">
   <% _each.(event_data, function (element,index,list){
       <ul>
        <li> <%= element.datetime %> </li>
        <li><h3> <%= element.artist[0].name %> </h3></li>
        <li> <%= element.venue[0].city %> + "," + <%= element.venue[0].region %> </li>
        <li> <%= element.venue[0].name %> </li>
        <li> <%= element.venue[0].url %> </li>
       </ul>

   <% }); %>
  </script>
</head>
 <body>
  <header>
<!-- use same header from home page? -->
  </header>
    <div id="bigContain">
     <div class="navBar">
      <a href="">Date</a>
      <a href="">Location</a>
     </div>
      <div class="eventDisplay">
  <!-- where events will be displayed -->
      </div>
      <div class="calendarDisplay">
       <!-- where calendar will be displayed -->
      </div>
    </div>
  <footer>
    <!--  use same footer from home page? -->
  </footer>
<script src="node_modules/underscore/underscore.js"></script>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="data.js"></script>
<script src="script.js"></script>
 </body>
</html>
