<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
  <title>Stage</title>

<script type="template/html" id="eventSideTmpl">
  <% _.each(event_data, function (element,index,list){ %>
    <% if(moment(element.datetime).utc().format().substring(0,10) == moment.utc().format().substring(0,10)) { %>
        <h3><%= element.artists[0].name %></h3>
        <ul>
         <li><span style="color:black;">AREA:</span> <%= element.venue.city %>, <%= element.venue.region %> </li>
         <li><span style="color:black;">VENUE:</span> <%= element.venue.name %> </li>
         <li><span style="color:black;">TIME:</span> <%= moment(element.datetime).format('h:mm a') %></li>
        </ul>
    <% } %>
<% }); %>
</script>
<script type="template/html" id="eventDateTmpl">
 <% _.each(event_data, function (element,index,list){ %>
  <div data-index="<%= index %>" class="event_container">
     <ul>
      <li><h3> <%= element.artists[0].name %> </h3></li>
      <li> <%= moment(element.datetime).utc().format('MMM DD, YYYY')%> at <%=moment(element.datetime).utc().format('hh:mm a')%> </li>
      <li> <%= element.venue.city %>, <%= element.venue.region %> </li>
      <li> <%= element.venue.name %> </li>
     </ul>
     <a class="action-button animate border" href="#">Add to Calendar</a>
  </div>
 <% }); %>

</script>
<script type="template/html" id="charlestonTmpl">
 <% _.each(event_data, function (element,index,list){ %>

 <% if(element.venue.city === "Charleston"){ %>
   <div data-index="<%= index %>" class="event_container">
   <ul>
    <li><h3> <%= element.artists[0].name %> </h3></li>
    <li> <%= moment(element.datetime).utc().format('MMM DD, YYYY')%> at <%=moment(element.datetime).utc().format('hh:mm a')%> </li>
    <li> <%= element.venue.city %>, <%= element.venue.region %> </li>
    <li> <%= element.venue.name %> </li>
   </ul>
   <a class="action-button animate border" href="#">Add to Calendar</a>
  </div>
 <% } %>

<% }); %>
</script>
<script type="template/html" id="mountpTmpl">
 <% _.each(event_data, function (element,index,list){ %>

 <% if(element.venue.city === "Mount Pleasant"){ %>
  <div data-index="<%= index %>" class="event_container">
   <ul>
    <li><h3> <%= element.artists[0].name %> </h3></li>
    <li> <%= moment(element.datetime).utc().format('MMM DD, YYYY')%> at <%=moment(element.datetime).utc().format('hh:mm a')%> </li>
    <li> <%= element.venue.city %>, <%= element.venue.region %> </li>
    <li> <%= element.venue.name %> </li>
   </ul>
   <a class="action-button animate border" href="#">Add to Calendar</a>
  </div>

 <% } %>

<% }); %>
</script>
<script type="template/html" id="northCharTmpl">
 <% _.each(event_data, function (element,index,list){ %>

 <% if(element.venue.city === "North Charleston"){ %>
   <div data-index="<%= index %>" class="event_container">
   <ul>
    <li><h3> <%= element.artists[0].name %> </h3></li>
    <li> <%= moment(element.datetime).utc().format('MMM DD, YYYY')%> at <%=moment(element.datetime).utc().format('hh:mm a')%> </li>
    <li> <%= element.venue.city %>, <%= element.venue.region %> </li>
    <li> <%= element.venue.name %> </li>
   </ul>
   <a class="action-button animate border" href="#">Add to Calendar</a>
  </div>

 <% } %>

<% }); %>
</script>
</head>

<body>


  <header>
    <div id="menu"><img style="width: 20px;" src="images/micIconWhite.png" alt=""><a href="">MENU</a></div>
    <nav class="topNav">
    <ul>
      <li><a rel="main" href="">HOME</a></li>
      <li><a rel="eventsCal" href="">EVENTS</a></li>
      <li><a href="register.html">LOGIN</a></li>
      <li><a rel="getStaged" href="">GET STAGED</a></li>
    </ul>
    </nav>

    <img src="images/stageLogo.png" alt="STAGE">

  </header>

  <div class="container">
    <div class="main currentTab">
    <div class="Blog">

      <section class="blogpost">
          <h2><img style="width:35px; padding-right: 7px;" src="images/micIcon.png" alt="mic">SHOVELS & ROPE</h2>
          <h3>Count Down to "Swimmin' Time"</h3>
            <p>
            Husband and wife duo Shovels and Rope have had what could be called the summer of their career, leading up to the release of their second record, 'Swimmin Time,' later this month. This will be their first full album since 2008, when the two came together for what was supposed to be a one-time act. They spend the past few months hopping around the States headlining mega festivals like Austin City Limits and Bonnaroo, and joined fellow folk masters The Avett Brothers on the final day of a sold-out, three-day stint at Red Rocks Ampitheatre. This whirlwind  tour has proven to be golden for 'Swimmin Time,' whose pre-release sales have ballooned with each performance. The record goes on sale officially on August 26. Preorder it <a href="http://www.shovelsandrope.com/" alt="Shovels and Rope">here</a>.</p>
            </p>
      </section>

      <section class="blogpost">
          <h2><img style="width:35px; padding-right: 7px;" src="images/micIcon.png" alt="mic">WEEKEND LINEUP</h2>
          <h3>Our Picks for This Weekend</h3>
            <p>
            The Hootie hyped masses and torrential downpours have dispersed and left us in the clear for a pretty tame weekend. Forego downtown Friday night and head to the Windjammer for Charleston locals Uncle Mingo. If you're beaching it Saturday, which you should be, check out Delta Cane that night at Surf Bar on Folly. We're fans of their self-dubbed "folkgrass" sound. No need to buy tickets ahead of time for these.
            </p>
      </section>

      <section class="blogpost">
          <h2><img style="width:35px; padding-right: 7px;" src="images/micIcon.png" alt="mic">Festival Focus</h2>
          <h3>The Summer Harvest</h3>
          <p>
            Charleston Music Hall has put together an impressive little festival this weekend that's heavy on poetry and visual art, but still boasts solid local lineup. The festival centers around two album release parties -- Michael Flynn on Friday and The Tarlatan's on Saturday -- and features four other local bands, including Grace Joyner and Volcanoes in the Kitchen. The best part? It's cheap. Three day passes are $25, and if you only want the music, it drops to $20. More information and tickets can be found <a href="http://charlestonmusichall.com/events/summerharvest/">here</a>.
          </p>
      </section>
    </div>




        <aside>

          <div class="tonightEvents">

            <h2><span style="color: #4298b5; letter-spacing:-5px;">>></span> ON STAGE TONIGHT</h2>


          </div>

        </aside>
  </div>

    <div class="eventsCal">

     <div id="bigContain">
      <div class="leftSide">

      <div class="navBar">
        <ul>
          <li><a rel="alltab" href="">All</a></li>
          <li><a rel="charlestonTab" href="">Charleston</a></li>
          <li><a rel="mountPTab" href="">Mount Pleasant</a></li>
          <li><a rel="nCharlesTab" href="">North Charleston</a></li>
        </ul>
      </div>

      <div class="eventDisplay">
        <div class="alltab activeTab"></div>
        <div class="charlestonTab"></div>
        <div class="mountPTab"></div>
        <div class="nCharlesTab"></div>
      </div>
     </div>
    </div>
    <div class="calendar">
     <table class="fixed" border="4" style="width: 40%">
     <tr>
       <td colspan="7" align="center">AUGUST</td>
     </tr>
     <tr>
       <td align="center" colspan="7">YOUR SHOWS FOR THIS MONTH</td>
     </tr>
     <tr align="center">
       <td>SUN</td>
       <td>MON</td>
       <td>TUE</td>
       <td>WED</td>
       <td>THUR</td>
       <td>FRI</td>
       <td>SAT</td>
     </tr>
     <tr class="days">
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
       <td id="1">1</td>
       <td id="2">2</td>
     </tr>
     <tr class="days">
       <td id="3">3</td>
       <td id="4">4</td>
       <td id="5">5</td>
       <td id="6">6</td>
       <td id="7">7</td>
       <td id="8">8</td>
       <td id="9">9</td>
     </tr>
     <tr class="days">
       <td id="10">10</td>
       <td id="11">11</td>
       <td id="12">12</td>
       <td id="13">13</td>
       <td id="14">14</td>
       <td id="15">15</td>
       <td id="16">16</td>
     </tr>
     <tr class="days">
       <td id="17">17</td>
       <td id="18">18</td>
       <td id="19">19</td>
       <td id="20">20</td>
       <td id="21">21</td>
       <td id="22">22</td>
       <td id="23">23</td>
     </tr>
     <tr class="days ">
       <td id="24">24</td>
       <td id="25">25</td>
       <td id="26">26</td>
       <td id="27">27</td>
       <td id="28">28</td>
       <td id="29">29</td>
       <td id="30">30</td>
     </tr>
     <tr class="days">
       <td>31</td>
     </tr>
     </table>
   </div>

  <div class="getStaged">
    <h1>Get Staged</h1>
    <h2>fill it out</h2>
      <form class="getStagedForm" action="index.html" method="post">
        <input type="text" name="bandName"><br>Band Name<br>
        <input type="text" name="bandWebsite"><br>Band Website<br>
        <input type="text" name="eventDate"><br>Event Date<br>
        <input type="text" name="eventTime"><br>Even Time<br>
        <input type="text" name="eventVenue"><br>Venue<br>
        <input type="text" name="buyTickets"><br>Link to Purchase Tickets<br>
        <button type="submit" value="  ">Submit</button>
      </form>
  </div>

  </div>

  <footer>
    <ul>
      <li><a href=""><img src="images/facebook.png" alt=""></a></li>
      <li><a href=""><img src="images/twitter-icon.png" alt=""></a></li>
      <li><a href=""><img src="images/YouTube-icon-full_color.png" alt=""></a></li>
    </ul>


  </footer>

<script type="text/javascript" src="node_modules/moment/moment.js"></script>
<script type="text/javascript" src="node_modules/underscore/underscore.js"></script>
<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="data.js"></script>
<script type="text/javascript" src="script.js"></script>


</body>
</html>
